body{
  color: white;
  font-family: Montserrat;
  background: black;
}
#logo{
  text-align: left;
  width: 54px;
  float:left;
  margin-left: 5px;
}

#image{
  margin-top: 5px;
  float:right;
  margin-right: 20px;
  width: 225px;
}
p{
  font-size: 20px;
  max-width: 45%;
  font-weight: 600;
}
p a{
  color: #b200fe;
  text-decoration: none;
}
h2{
  color: white;
  font-size: 35px;
}
h3{
  margin-top: 85px;
  text-align: left;
}